<div class="bg-primary text-white text-center">
  <div class="d-flex justify-content-between">
    <img
      src="/pictures/logo.jpg"
      alt="Logo"
      style="border-radius: 15px; padding: 6px"
    />
    <span
      ><h1>Better Canada Computers</h1>
      <p style="font-size: 20px">Une entreprise canadienne depuis 1866</p></span
    >
    <img
      src="/pictures/proudly_canadian.png"
      alt="proudly_canadian"
      style="
        min-width: 180px;
        max-height: 50px;
        align-self: center;
        margin-right: 10px;
      "
    />
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutUs">About Us</a>
      </li>
    </ul>
  </div>

  <a href="/carts/"
    ><i
      class="bi bi-cart-plus-fill"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
      ;
    ></i
    >Cart</a
  >
  <br /><br />
  <a href="/users/login"
    ><i
      class="bi bi-person-add"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i
    >Login</a
  >
  <br />

  <a href="/products" class="btn btn-light"> Seller </a>

  <a href="/users/logout">
    <i
      class="bi bi-box-arrow-in-right"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i
  ></a>
  <br />
</nav>
<section class="productsList text-center ctn">
  <% if(typeof products !='undefined' ) { %> <% products.forEach(
  function(product) { %>
  <div style="width: 310px; height: 215px; margin: 20px">
    <a
      href="/details/<%=product._id%>"
      style="text-decoration: none; color: black"
    >
      <div
        class="product-card"
        style="background-color: white; justify-content: center"
      >
        <div>
          <h5 class="text-center"><%= product.productName %></h5>
          <img
            src="https://imgs.search.brave.com/MfQZz3aZ4KFDPGSbIMVnn0iueqSPN1XIh-ZiO5Ag1G4/rs:fit:1000:1000:1/g:ce/aHR0cHM6Ly93d3cu/ZS1yZXRhaWwuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIw/LzEyLzcxOTAtMHFB/REhMLl9BQ19TTDE1/MDBfLmpwZw"
            alt="razer keyboard"
          />
          <!-- <img src="product.productPicture" alt="Product Picture"> -->

          <div class="product-info">
            <h6><%= product.price %> $</h6>
            <p>
              <a
                class="btn btn-default"
                role="button"
                onclick="addToCart('<%=product._id%>')"
                >Cart</a
              >
            </p>
            <!--  <p class="text-start">Description : <%= product.desc %></p> -->
          </div>
        </div>
      </div>
    </a>
  </div>

  <% }) %> <% } %>
</section>
<script>
  function addToCart(id) {
    console.log(id);
    fetch(`http://127.0.0.1:8000/carts/cart/${id}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    }).catch((error) => {
      if (error) throw error;
    });
  }
</script>
