
<div class="bg-primary text-white text-center">
  <div class="d-flex justify-content-between">
    <img
      src="/pictures/logo.jpg"
      alt="Logo"
      style="border-radius: 15px; padding: 6px"
    />
    <span
      ><h1>Better Canada Computers</h1>
      <p style="font-size: 20px">Une entreprise canadienne depuis 1866</p></span
    >
    <img
      src="/pictures/proudly_canadian.png"
      alt="proudly_canadian"
      style="
        min-width: 180px;
        max-height: 50px;
        align-self: center;
        margin-right: 10px;
      "
    />
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" href="/accueil">
          <i class="fa fa-home"></i>Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/profile">
        <i class="bi bi-person-circle"></i>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutUs"><i class="bi bi-people-fill"></i>About Us </a>
      </li>
    </ul>
  </div>

  <a href="/carts/" class="text-center"
    ><i
      class="bi bi-cart-plus-fill"
      style="font-size: 2rem; color: rgb(249, 250, 252);"
    ></i>
    <span>Cart</span>
  </a>
  <% if (typeof user !== 'undefined') { %>
    <a href="/products" class="btn btn-light btn-sm"> Seller </a>
  <% } %>
  <% if (typeof user == 'undefined') { %>
  <a href="/users/login" class="text-center">
    <i
      class="bi bi-person-add"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i>
    <span>Login</span></a>
  <% } else { %>
    <div style="color: white; margin-right: 10px; margin-left: 15px;">Compte: <br><span style="white-space:nowrap;"><%= user.name %></span></div>
    <a href="/users/logout">
    <i
      class="bi bi-box-arrow-in-right"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i
  ></a>
  <br />
  <% } %>
  <br />

 
</nav>

<section class="container-fluid d-flex" style="margin: auto">
  <!--categories-->
  <div class="categories h-100">
    <div>
      <p class="text-center"><b>Product categories :</b></p>
      <hr />
      <% if(typeof products !='undefined' ) { %> <% products.forEach(
      function(product) { %>
      <div style="align-items: left">
        <form>
          <input
            type="checkbox"
            id="product"
            name="product"
            value="type"
          />
          <label for="product" class="filter"><%= product.type%></label><br />
        </form>
      </div>
      <% }) %> <% } %>
    </div>
  </div>

  <section class="productsList text-center">
    <% if(typeof products !='undefined' ) { %> <% products.forEach(
    function(product) { %>
    <div style="min-width: 310px; height: 230px; margin: 20px">
      <a
        href="/details/<%=product._id%>"
        style="text-decoration: none; color: black"
      >
        <div
          class="product-card"
          style="
            background-color: white;
            justify-content: center;
            min-height: 235px;
          "
        >
          <div>
            <h5 class="text-center"><%= product.productName %></h5>
            <img
              src="/pictures/<%= product.productPicture %>"
              alt="Product Picture"
            />

            <div class="product-info">
              <h6><%= product.price %> $</h6>
              <p>
                <a
                  class="btn btn-default bg-dark text-white"
                  role="button"
                  onclick="addToCart('<%=product._id%>')"
                  >Cart</a
                >
              </p>
              <!--  <p class="text-start">Description : <%= product.desc %></p> -->
            </div>
          </div>
        </div>
      </a>
    </div>

    <% }) %> <% } %>
  </section>
</section>
<script>
  function addToCart(id) {
    console.log(id);
    fetch(`http://127.0.0.1:8000/carts/cart/${id}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then(() => {
        alert("Item added successfully to the cart");
      })
      .catch((error) => {
        if (error) throw error;
      });
  }
  function searchBar(search) {
    fetch(`http://127.0.0.1:8000/search/${search}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });
  }
  function filterByCategory(filter) {
    fetch(`http://127.0.0.1:8000/filters/${filter}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });
  }
  $(".filter").click(function () {
    let filter = $(".filter").html();
    filterByCategory(filter);
  });
</script>
