<div class="row mt-5">
    <div class="col-md-12 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-4">
                <i class="fa-brands fa-product-hunt"></i>Products</i> 
            </h1>
            <p>
                <%- include('./partiels/messages.ejs') %> 
            </p>
          </div>
      </div>
</div>

<% for(let product of products) {%>
<table>
<td> id: <%= products.id %></td>
<td> product Name: <%= products.productName %> </td>
<td> price: <%= products.price %> </td>
<td> price: <%= products.desc %> </td>
<td>Image : <%= products.productPicture %></td>
<% } %> 
</table>
